In [11]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Akshay\Downloads\lifeexpPCA.csv")
df.head()

,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,0.460348,-0.445672,0.871086,2.160816,-1.176836,-0.547270,-1.537612,1.884396,-0.964155,2.061485,-2.265302,0.988621,-1.282015,-0.630709,-0.813774,2.649184,2.705541,2.734294,-0.795935,-0.628647
1,0.460348,-0.982602,0.940142,2.160816,-1.176836,-0.541521,-1.772450,0.721332,-0.989348,2.061485,-1.727189,0.997369,-1.472166,-0.630709,-0.808705,-0.824808,2.705541,2.734294,-0.811554,-0.660924
2,0.460348,-0.982602,0.914246,2.160816,-1.176836,-0.542301,-1.615891,0.546996,-1.014541,2.061485,-1.473960,0.975498,-1.345399,-0.630709,-0.805310,2.649184,2.705541,2.734294,-0.842792,-0.693201
3,0.460348,-1.024714,0.948774,2.160816,-1.176836,-0.529581,-1.381053,1.884396,-1.039734,2.061485,-1.157423,1.146095,-1.155248,-0.630709,-0.798499,-0.446692,2.705541,2.734294,-0.879235,-0.725478
4,0.460348,-1.056298,0.974671,2.160816,-1.176836,-0.711706,-1.302774,1.884396,-1.059889,2.061485,-1.094115,0.861767,-1.091864,-0.630709,-0.906585,-0.527307,2.705541,2.734294,-0.926092,-0.822309

In [4]:
df.shape

(2928, 20)

In [5]:
X_train=df.iloc[:,2:20]
y_train=df.iloc[:,0:2]

In [7]:
X_train.head(5)

,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,0.871086,2.160816,-1.176836,-0.547270,-1.537612,1.884396,-0.964155,2.061485,-2.265302,0.988621,-1.282015,-0.630709,-0.813774,2.649184,2.705541,2.734294,-0.795935,-0.628647
1,0.940142,2.160816,-1.176836,-0.541521,-1.772450,0.721332,-0.989348,2.061485,-1.727189,0.997369,-1.472166,-0.630709,-0.808705,-0.824808,2.705541,2.734294,-0.811554,-0.660924
2,0.914246,2.160816,-1.176836,-0.542301,-1.615891,0.546996,-1.014541,2.061485,-1.473960,0.975498,-1.345399,-0.630709,-0.805310,2.649184,2.705541,2.734294,-0.842792,-0.693201
3,0.948774,2.160816,-1.176836,-0.529581,-1.381053,1.884396,-1.039734,2.061485,-1.157423,1.146095,-1.155248,-0.630709,-0.798499,-0.446692,2.705541,2.734294,-0.879235,-0.725478
4,0.974671,2.160816,-1.176836,-0.711706,-1.302774,1.884396,-1.059889,2.061485,-1.094115,0.861767,-1.091864,-0.630709,-0.906585,-0.527307,2.705541,2.734294,-0.926092,-0.822309

In [8]:
y_train.head(5)

     Status  Life expectancy
0  0.460348         -0.445672
1  0.460348         -0.982602
2  0.460348         -0.982602
3  0.460348         -1.024714
4  0.460348         -1.056298

In [16]:
from sklearn.decomposition import PCA 
model = PCA(n_components = 5)
principalComponents= model.fit(X_train)

In [17]:
pca=list(np.round(principalComponents.explained_variance_,2)) 
pca

[7.17, 1.81, 1.72, 1.19, 1.11]

In [18]:
principalComponents.components_

array([[ 0.2250539 ,  0.27843083, -0.20690479, -0.22283465, -0.16242517,
         0.19773257, -0.25664432,  0.28678293, -0.24913509, -0.12058131,
        -0.24928134,  0.24885118, -0.22442999,  0.04609278,  0.25940212,
         0.25987237, -0.28679592, -0.30907388],
       [ 0.02699478,  0.12364643,  0.25304725,  0.23207593, -0.4803511 ,
         0.12669025,  0.12799437,  0.12569948, -0.39541614,  0.16836476,
        -0.40340208,  0.10303555,  0.21663327,  0.04314246, -0.28823013,
        -0.28721343,  0.08678265,  0.0847311 ],
       [-0.12942663,  0.36056914,  0.03449463,  0.17425155,  0.08769114,
         0.37863997, -0.01382828,  0.33586522,  0.15593695, -0.08775333,
         0.15870797, -0.18256359,  0.26112683,  0.51388106,  0.15254667,
         0.16296503,  0.2427331 ,  0.16151612],
       [-0.00115297, -0.22778301, -0.01480318,  0.44303112, -0.11427363,
        -0.04908045, -0.19998995, -0.21644859, -0.12223905, -0.27782949,
        -0.14243205,  0.06492   ,  0.39108658, -0.25180182,  0.38912567,
         0.3837783 ,  0.09953543,  0.08778773],
       [ 0.4199973 ,  0.10795437,  0.37624489,  0.17837299,  0.22990205,
        -0.01661579, -0.20008456,  0.12589128,  0.18647005,  0.48733334,
         0.20188726,  0.41109701,  0.13963504, -0.14040105,  0.05077124,
         0.04957234, -0.05531044,  0.01512063]])

In [19]:
transformed_data = principalComponents.fit_transform(X_train)
transformed_data

array([[ 5.37160966,  0.74383595,  2.99895775,  0.23777702, -0.51041208],
       [ 4.96597906,  0.42178954,  0.79044593,  1.1605318 ,  0.04496131],
       [ 4.99313632,  0.31060821,  2.5765589 ,  0.23363132, -0.34603754],
       ...,
       [ 1.82856353,  1.40265576, -1.47103676, -1.14617857,  0.14796942],
       [ 2.82768234,  1.08700183, -0.84475314, -1.43848842,  1.16555668],
       [ 4.09364429, -0.33434895,  0.32665142,  0.19770149,  1.69903195]])

In [20]:
print("original shape:   ", X_train.shape)
print("transformed shape:", transformed_data.shape)

original shape:    (2928, 18)
transformed shape: (2928, 5)

In [21]:
principalDf = pd.DataFrame(data = transformed_data
             , columns = ['Data PC1', 'Data PC2','Data PC3','Data PC4','Data PC5'])
principalDf.head()

   Data PC1  Data PC2  Data PC3  Data PC4  Data PC5
0  5.371610  0.743836  2.998958  0.237777 -0.510412
1  4.965979  0.421790  0.790446  1.160532  0.044961
2  4.993136  0.310608  2.576559  0.233631 -0.346038
3  4.960212  0.056763  1.563015  0.814386  0.325235
4  5.065702 -0.162623  1.483289  0.755846  0.209046

In [22]:
df_final=pd.concat((principalDf,y_train),axis=1)
df_final.head(5)

,Data PC1,Data PC2,Data PC3,Data PC4,Data PC5,Status,Life expectancy
0,5.371610,0.743836,2.998958,0.237777,-0.510412,0.460348,-0.445672
1,4.965979,0.421790,0.790446,1.160532,0.044961,0.460348,-0.982602
2,4.993136,0.310608,2.576559,0.233631,-0.346038,0.460348,-0.982602
3,4.960212,0.056763,1.563015,0.814386,0.325235,0.460348,-1.024714
4,5.065702,-0.162623,1.483289,0.755846,0.209046,0.460348,-1.056298

In [23]:
df_final.to_csv(r"C:\Users\Akshay\Downloads\df_finalMLR.csv",index=False)